* {
    background-color: rgba(0, 0, 255, 0);
}

/* ------------------ Navigation bar starts --------------------------- */
.navbar {
    height: 60px;
    background-color: #0f1111;
    border: 3px solid white;
}

.option {
    margin-right: 150px;
    color: white;
    text-decoration: none;
}

#amajon_link {
    color: #f08804;
    font-size: 25px;
}

#insert {
    display: inline-block;
}

#submit_button {
    background-color: #f08804;
    color: white;
}

#text_input {
    background-color: white;
}

/* ------------------ Navigation bar end --------------------------- */