* {
    margin: 0px;
    padding: 0px;
}

/* ------------------ Navigation bar starts --------------------------- */
#navbar {
    height: 60px;
    background-color: #11b7b7;
    border: 3px solid white;
    display: flex;
    align-items: center;
}

.option {
    margin-right: 150px;
    color: white;
    text-decoration: none;
}

#logo {
    color: #f08804;
    font-size: 25px;
}

#insert {
    display: inline-block;
}

#submit_button {
    background-color: #f08804;
    color: white;
}

#text_input {
    background-color: white;
}

.button {
    text-decoration: none;
    height: 50%;
    width: 60px;
    border: 2px solid black;
    background-color: #979491;
    align-self: center;
}

/* ------------------ Navigation bar end --------------------------- */